pkgbase = metamask-latest
	pkgdesc = Chrome extension that enables browsing Ethereum blockchain enabled websites
	pkgver = 11.16.15
	pkgrel = 2
	url = https://github.com/MetaMask/metamask-extension
	arch = any
	groups = firefox-addons
	license = custom:consensys
	makedepends = git
	makedepends = nvm
	makedepends = yarn-berry
	makedepends = chromium
	depends = chromium
	depends = typescript
	source = metamask-latest::git+https://github.com/MetaMask/metamask-extension.git#tag=v11.16.15
	source = chrome.pem
	sha512sums = SKIP
	sha512sums = 6732e47d2431484e084512e815e44590c6693d9a1f7a192c0de2f11561fdfd6d87769a375650c4025ab8e2049fd7694ff2c45e19a03991d65c9b8a241bd7292a

pkgname = metamask-latest-chromium
	conflicts = metamask-chromium
	replaces = provides-chromium

pkgname = metamask-latest-firefox
	conflicts = metamask-firefox
	replaces = provides-firefox
